@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
background-color: white;
}

.logo-and-text-container {
  display: flex; /* Makes the container a flex container */
  align-items: center; /* Vertically centers the items */
  display: flex; /* Turn the container into a flex container */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  background: transparent;
}

.logo-and-text-container img { /* Targeting the image within the container */
  margin-right: 10px; /* Adjust the value as needed */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
